/* src/main/resources/static/css/style.css */

/* 전체 페이지 스타일 */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* 컨테이너 스타일 */
.financial-statements-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* 섹션 스타일 */
.statement-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statement-section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.statement-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.statement-section th,
.statement-section td {
    border: 1px solid #ddd;
    padding: 8px;
}

.statement-section th {
    background-color: #f2f2f2;
    text-align: center;
}

.statement-section td {
    text-align: center;
}

.statement-section h3 {
    text-align: right;
    color: #333;
    margin-top: 0;
}

.statement-section span {
    font-weight: bold;
}



/* 부채 상환 폼 스타일 */
.repayment-form {
    display: none; /* 기본적으로 숨김 */
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repayment-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.repayment-form select,
.repayment-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.repayment-form button {
    padding: 10px 20px;
    background-color: rgb(0, 0, 64);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.repayment-form button:hover {
    background-color: rgb(192, 192, 192);
}

.statement-footer button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 0, 64);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.statement-footer button:hover {
    background-color: rgb(192, 192, 192);
}