<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>계정 목록</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/Account.css}">
	
	<!-- JavaScript 라이브러리 및 파일 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="/js/report.js"></script>
</head>

<body>
	<!-- 네비게이션 바 포함 -->
	<div th:insert="navbar :: navbar"></div>
	
	<div class="financial-statements-container">
	    <div class="header-line">
	        <h1>예치금 조회</h1>
	        <button onclick="window.location.href='/account/send'">입금 페이지로 이동</button>
	    </div>

        <div class="statement-section">
            <table id="accountTable">
                <thead>
                    <tr>
                        <th>잔액</th>
                        <th>금액</th>
                        <th>날짜</th>
                        <th>설명</th>
                        <th>유형</th>
                    </tr>
                </thead>
                <tbody>
					<tr th:each="account : ${accounts}">
					    <td th:text="${#numbers.formatCurrency(account.afterBalance).replace('.00', '')}"></td>
					    <td th:text="${#numbers.formatCurrency(account.amount).replace('.00', '')}"></td>
					    <td th:text="${account.date}"></td>
					    <td th:text="${account.description}"></td>
					    <td th:text="${account.type}"></td>
					</tr>
                </tbody>
            </table>

        </div>

        <!-- 페이지네이션 버튼 -->
        <div class="pagination">
            <button th:disabled="${currentPage == 0}" 
                    th:onclick="|window.location.href='?page=${currentPage - 1}'|">이전</button>
            <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span>
            <button th:disabled="${currentPage + 1 == totalPages}" 
                    th:onclick="|window.location.href='?page=${currentPage + 1}'|">다음</button>
        </div>
    </div>
</body>

</html>
