<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>차트 대시보드</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="stylesheet" th:href="@{css//navbar.css}">
</head>

<body>
    <!-- 네비게이션 바 포함 -->
    <div th:insert="navbar :: navbar"></div>

	<!-- 하단 컨테이너: 차트들 -->
	<div class="charts-container">
	    <!-- 1. 재무 비율 분석 차트 -->
	    <div class="chart-card">
	        <div class="card-content">
	            <div class="card-text">
	                <p>재무 비율 분석</p>
	            </div>
	            <div class="card-chart">
	                <canvas id="financialRatioChart"></canvas>
	            </div>
	        </div>
	    </div>

	    <!-- 2. 매출액 및 순이익 차트 -->
	    <div class="chart-card">
	        <div class="card-content">
	            <div class="card-text">
	                <p>매출액 및 순이익</p>
	            </div>
	            <div class="card-chart">
	                <canvas id="salesNetProfitChart"></canvas>
	            </div>
	        </div>
	    </div>

	    <!-- 3. 운영비용 분포 차트 -->
	    <div class="chart-card">
	        <div class="card-content">
	            <div class="card-text">
	                <p>운영비용 분포</p>
	            </div>
	            <div class="card-chart">
	                <canvas id="operatingCostChart"></canvas>
	            </div>
	        </div>
	    </div>

		<!-- 5. 부채 분석 차트 -->
		<div class="chart-card">
		    <div class="card-content">
		        <div class="card-text">
		            <p>부채 분석</p>
		        </div>
		        <div class="card-chart">
		            <canvas id="liabilityChart"></canvas>
		        </div>
		    </div>
		</div>		
		
		<!-- 자산 차트 -->
		<div class="chart-card unified-size">
		    <div class="card-content">
		        <div class="card-text">
		            <p>자본 부채 비율</p>
		        </div>
		        <div class="card-chart">
		            <canvas id="capitalLiabilityChart"></canvas>
		        </div>
		    </div>
		</div>

		<!-- 자산 분포 차트 -->
		<div class="chart-card unified-size">
		    <div class="card-content">
		        <div class="card-text">
		            <p>자산 분포</p>
		        </div>
		        <div class="card-chart">
		            <canvas id="assetRatioChart"></canvas>
		        </div>
		    </div>
		</div>
		
		<!-- 새로운 차트 -->
		<div class="chart-card">
		    <div class="card-content">
		        <div class="card-text">
		            <p>새로운 차트</p>
		        </div>
		        <div class="card-chart">
		            <canvas id="newAssetChart"></canvas>
		        </div>
		    </div>
		</div>		
		



    <script src="js/dashboard.js"></script>
</body>

</html>
