<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>재무제표</title>
	<link rel="stylesheet" th:href="@{/css/FinancialStatsments.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="/js/report.js"></script>
	-->
</head>

<body>
	<div th:insert="navbar :: navbar"></div>

	<!-- 재무제표 컨테이너 -->
	<div class="statements-container">


		<!-- 대차대조표 -->
		<div class="statement-card">
			<div class="card-content">
				<div class="card-text">
					<h2>대차대조표</h2>
					<p>2023년 12월 31일</p>
				</div>
				<div class="card-table">
					<!-- 대차대조표 표 -->
					<table>
						<thead>
							<tr>
								<th colspan="2">자산</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>유동자산</strong></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;현금</td>
								<td th:text="${financialData.formattedCash}"></td>
							</tr>
							<!--
							<tr>
								<td>&nbsp;&nbsp;재고자산</td>
								<td>아직</td>
							</tr>
							-->
							<tr>
								<td><strong>합계 유동자산</strong></td>
								<td th:text="${financialData.formattedCurrentAssets}"><strong></strong></td>
							</tr>
							<tr>
								<td><strong>비유동자산</strong></td>
								<td></td>
							</tr>
							<tr th:each="asset : ${financialData.assetLists}">
		                        <td th:text="${asset[0]}"></td>
		                        <td th:text="${#numbers.formatDecimal(asset[1], 0, 'COMMA', 0, 'POINT')} + '원'"></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;감가상각 누계액</td>
								<td th:text="(${financialData.formattedDepreciation})"></td>
							</tr>
							<tr>
								<td><strong>합계 비유동자산</strong></td>
								<td th:text="${financialData.formattedTotalNonCurrentAssets}"><strong></strong></td>
							</tr>
							<tr>
								<th>총 자산</th>
								<th th:text="${financialData.formattedTotalAssets}"></th>
							</tr>
						</tbody>
					</table>

					<table>
						<thead>
							<tr>
								<th colspan="2">부채 및 자본</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>유동부채</strong></td>
								<td></td>
							</tr>
							<!--
							<tr>
								<td>&nbsp;&nbsp;매입채무</td>
								<td>아직</td>
							</tr>
							-->
							<tr>
								<td>&nbsp;&nbsp;단기차입금</td>
								<td th:text="${financialData.formattedShortTermDebt}"></td>
							</tr>
							<tr>
								<td><strong>합계 유동부채</strong></td>
								<td th:text="${financialData.formattedCurrentLiabilities}"><strong></strong></td>
							</tr>
							<tr>
								<td><strong>비유동부채</strong></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;장기차입금</td>
								<td th:text="${financialData.formattedLongTermDebt}"></td>
							</tr>
							<tr>
								<td><strong>합계 비유동부채</strong></td>
								<td th:text="${financialData.formattedNonCurrentLiabilities}"><strong></strong></td>
							</tr>
							<tr>
								<td><strong>총 부채</strong></td>
								<td th:text="${financialData.formattedTotalLiabilities}"><strong></strong></td>
							</tr>
							<tr>
								<td><strong>자본</strong></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;자본금</td>
								<td th:text="${financialData.formattedEquity}"></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;이익잉여금</td>
								<td th:text="${financialData.formattedRetainedEarnings}"></td>
							</tr>
							<tr>
								<td><strong>총 자본</strong></td>
								<td th:text="${financialData.formattedTotalCapital}"><strong></strong></td>
							</tr>
							<tr>
								<th>총 부채 및 자본</th>
								<th th:text="${financialData.formattedTotalLiabilityCapital}"></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<!-- 손익계산서 -->
		<div class="statement-card">
			<div class="card-content">
				<div class="card-text">
					<h2>손익계산서</h2>
					<p>2023년 1월 1일 ~ 2023년 12월 31일</p>
				</div>
				<div class="card-table">
					<!-- 손익계산서 표 -->
					<table>
						<thead>
							<tr>
								<th colspan="2">수익</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>매출액</td>
								<td th:text="${financialData.formattedSales}"></td>
							</tr>
							<tr>
								<th colspan="2">비용</th>
							</tr>
							<tr>
								<td>매출원가</td>
								<td th:text="${financialData.formattedRawMaterials}"></td>
							</tr>
							<tr>
								<td>판매비 및 관리비</td>
								<td th:text="${financialData.formattedCost}"></td>
							</tr>
							<tr>
								<td>감가상각비</td>
								<td th:text="${financialData.formattedWriteDown}"></td>
							</tr>
							<tr>
								<td>이자비용</td>
								<td th:text="${financialData.formattedInterest}"></td>
							</tr>
							<tr>
								<th>합계 비용</th>
								<th th:text="${financialData.formattedTotalCost}"></th>
							</tr>
							<tr>
								<th>순이익</th>
								<th th:text="${financialData.formattedNetProfit}"></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<!-- 현금흐름표 -->
		<div class="statement-card">
			<div class="card-content">
				<div class="card-text">
					<h2>현금흐름표</h2>
					<p>2023년 1월 1일 ~ 2023년 12월 31일</p>
				</div>
				<div class="card-table">
					<!-- 현금흐름표 표 -->
					<table>
						<thead>
							<tr>
								<th colspan="2">영업활동으로 인한 현금흐름</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>순이익</td>
								<td th:text="${financialData.formattedNetProfit}"></td>
							</tr>
							<tr>
								<td>감가상각비</td>
								<td th:text="${financialData.formattedWriteDown}"></td>
							</tr>
							<tr>
								<td><strong>합계 영업활동 현금흐름</strong></td>
								<td th:text="${financialData.formattedTotalSalesActivityFlow}"><strong></strong></td>
							</tr>
						</tbody>
					</table>

					<table>
						<thead>
							<tr>
								<th colspan="2">투자활동으로 인한 현금흐름</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inv : ${financialData.cashFlowFromInvestmentActivities}">
							    <td th:text="${inv[0]}"></td>
							    <td th:text="${#numbers.formatDecimal(inv[1], 0, 'COMMA', 0, 'POINT')} + '원'"></td>
							</tr>
							<tr>
								<td><strong>합계 투자활동 현금흐름</strong></td>
								<td th:text="(${financialData.formattedTotalInvestmentActivityCashFlow})"><strong></strong></td>
							</tr>
						</tbody>
					</table>

					<table>
						<thead>
							<tr>
								<th colspan="2">재무활동으로 인한 현금흐름</th>
							</tr>
						</thead>
						<tbody>
							<!--
							<tr>
								<td>배당금 지급</td>
								<td>아직</td>
							</tr>
							-->
							<tr>
								<td>단기차입금 증가</td>
								<td th:text="${financialData.formattedShortTermDebt}"></td>
							</tr>
							<tr>
								<td><strong>합계 재무활동 현금흐름</strong></td>
								<td th:text="${financialData.formattedCashFlowFromFinancialActivities}"><strong></strong></td>
							</tr>
						</tbody>
					</table>

					<table>
						<tbody>
							<!--
							<tr>
								<td><strong>순 현금흐름</strong></td>
								<td><strong>아직</strong></td>
							</tr>
							-->
							<tr>
								<td>기초 이익잉여금</td>
								<td th:text="${financialData.formattedBasicRetainedEarnings}"></td>
							</tr>
							<tr>
								<td><strong>기말 이익잉여금</strong></td>
								<td th:text="${financialData.formattedEdRetainedEarnings}"><strong></strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- 자본변동표 -->
		<div class="statement-card">
			<div class="card-content">
				<div class="card-text">
					<h2>자본변동표</h2>
					<p>2023년 1월 1일 ~ 2023년 12월 31일</p>
				</div>
				<div class="card-table">
					<!-- 자본변동표 표 -->
					<table>
						<thead>
							<tr>
								<th>항목</th>
								<th>자본금</th>
								<th>이익잉여금</th>
								<th>총 자본</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>기초 잔액</td>
								<td th:text="${financialData.formattedBasicEquity}"></td>
								<td th:text="${financialData.formattedBasicRetainedEarnings}"></td>
								<td th:text="${financialData.formattedBasicCapital}"></td>
							</tr>
							<tr>
								<td>순이익</td>
								<td></td>
								<td th:text="${financialData.formattedNetProfit}"></td>
								<td th:text="${financialData.formattedNetProfit}"></td>
							</tr>
							<!--
							<tr>
								<td>배당금 지급</td>
								<td></td>
								<td>(아직)</td>
								<td>(아직)</td>
							</tr>
							-->
							<tr>
								<td><strong>기말 잔액</strong></td>
								<td th:text="${financialData.formattedEquity}"><strong></strong></td>
								<td th:text="${financialData.formattedEdRetainedEarnings}"><strong></strong></td>
								<td th:text="${financialData.formattedAllCapital}"><strong>아직3</strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>


	<!-- 스크립트 파일 -->
	<script src="/js/FinancialStatsments.js"></script>
</body>

</html>